<!DOCTYPE html>
<html>
<head>
    <title>Juegos Flash</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Elige un juego:</h1>
    <div class="button-container">
      <a href="/play/bakeria"><img src="static/img/bakeria_logo.png" alt="Bakeria"></a>
      <a href="/play/chesseria"><img src="static/img/chesseria_logo.png" alt="Chesseria"></a>
      <a href="/play/cupcakeria"><img src="static/img/cupcakeria_logo.png" alt="Cupcakeria"></a>
      <a href="/play/donuteria"><img src="static/img/donuteria_logo.png" alt="Donuteria"></a>
      <a href="/play/frezeria"><img src="static/img/frezeria_logo.png" alt="Frezeria"></a>
      <a href="/play/hotdoggeria"><img src="static/img/hotdoggeria_logo.png" alt="Hotdoggeria"></a>
      <a href="/play/pancakeria"><img src="static/img/pancakeria_logo.png" alt="Pancakeria"></a>
      <a href="/play/pastaria"><img src="static/img/pastaria_logo.png" alt="Pastaria"></a>
      <a href="/play/sushiria"><img src="static/img/sushiria_logo.png" alt="Sushiria"></a>
      <a href="/play/tacomia"><img src="static/img/tacomia_logo.png" alt="Tacomia"></a>
      <a href="/play/wingeria"><img src="static/img/wingeria_logo.png" alt="Wingeria"></a>
      <a href="/play/scooperia"><img src="static/img/scooperia_logo.png" alt="Scooperia"></a>
      <a href="/play/pizzeria"><img src="static/img/pizzeria_logo.png" alt="Pizzeria"></a>
      <a href="/play/burgeria"><img src="static/img/burgeria_logo.png" alt="Burgeria"></a>
    </div>
</body>
</html>
